<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockService" maxReceivedMessageSize="10240000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/StockService/StockService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockService"
                contract="WCFStockService.IStockService" name="BasicHttpBinding_IStockService" />
        </client>
    </system.serviceModel>
</configuration>