<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStockService" maxReceivedMessageSize="10240000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ljcserver/StockService/StockService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockService" contract="StockWCFService.IStockService" name="BasicHttpBinding_IStockService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
