<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--
    <add name="ATradeDB" connectionString="Server=ljcserver2;UID=ljc;password=123456;database=ATradeDB;" providerName="System.Data.SqlClient" />
    
    <add name="MessageCenter" connectionString="Server=ljcserver2;UID=ljc;password=123456;database=MessageCenter;" providerName="System.Data.SqlClient" />
    -->
    <add name="DefaultDB" connectionString="Server=LENOVO-PC;UID=sa;password=ljc123456;database=ATradeDB;" providerName="System.Data.SqlClient" />
    <!--<add name="ATradeDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=AtradeDB.accdb;Persist Security Info=False;" providerName="System.Data.Oledb"></add>-->

    <!--<add name="MessageCenter" connectionString="server=ljcserver;user id=ljc; password=123456; database=atradedb;persist security info=true;" providerName="MySql.Data.MySqlClient"/>
    <add name="ATradeDB" connectionString="server=ljcserver;user id=ljc; password=123456; database=atradedb;persist security info=true;" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockService" maxReceivedMessageSize="10240000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ljcserver/StockService/StockService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockService"
                contract="StockWCFService.IStockService" name="BasicHttpBinding_IStockService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
